@charset "UTF-8";

/*
    em HTML é id = em CSS é # (só pode um elemento)
    em HTML é class = em CSS é . (pode vários elementos)
*/

body {
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: green;
}

h1#principal {
    text-align: center;
    background-color: green;
    color: white;
}

h2 {
    color: rgb(2, 56, 2);
}

.basico{
    color: rgb(2, 49, 2);
}

.intermediario {
    color: yellow;
}

.avancado {
    color: red;
}

.destaque {
    background-color: aqua;
}