@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template: repeat(9, 100px) / repeat(6, auto);
    gap: 10px;
    width: 1000px;
    height: 800px;
    
}

.topo {
    background-color: red;
    grid-area: 1 / 1 / 3 / 7;
}

.menu {
    background-color: aqua;
    grid-area: 3 / 1 / 4 / 7;
}

.principal {
    background-color: green;
    grid-area: 4 / 1 / 9 / 5 ;
}

.secundario {
    background-color: blue;
    grid-area: 4 / 5 / 9 / 7;
}

.rodape {
    background-color: rgb(124, 119, 119);
    grid-area: 9 / 1 / 10 / 7;
}